.App {
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-control {
  margin: 60px;
}